
extend layout

block content
  .row
    .col-md-12
      h2 Graphs
      h3 Radiant Advantage
      #chart-diff
      h3 Gold
      #chart-gold

  .modal.fade#themodal(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true')
            span.sr-only
          h4 Teamfight
        .modal-body
          // entry, ind in teamfights
          +data_table({id:"recap-"+ind, summable: true, heading:"Recap", rankable: true})
          each player, num in entry.players
            +data_table_header(num, entry)
              tr
                th Hero
                th Joined
                th Death
                th Buyback
                th Level
                th Damage
                th Healing
                th Gold
                th XP
                th Skills
                th Items
                th Kills
            tr(class=player.isRadiant ? "radiant" : "dire")
              +hero_td(player)
              td
                if player.participate
                  i.fa.fa-check(style="font-size:28px;")
              td
                if player.deaths
                  i.fa.fa-times(style="font-size:28px;")
              td
                if player.buybacks
                  i.fa.fs-usd(style="font-size:28px;")
              td(style="white-space: nowrap;")
                if player.level_start !== player.level_end
                  | #{player.level_start}<i class="fa fa-long-arrow-right"></i>#{player.level_end}
                else
                  | #{player.level_start}
              //td=player.deaths
              //td=player.buybacks
              td.rankable=player.damage
              td.rankable=player.healing
              td.rankable=player.gold_delta
              td.rankable=player.xp_delta
              td
                each val, key in player.ability_uses || {}
                  - var ability = constants.abilities[key]
                  span.img-text
                    if ability
                      img.img-sm.ability(src=ability.img, title=key)
                    else
                      //=key
                    div #{val}
              td
                each val, key in player.item_uses || {}
                  - var item = constants.items[key]
                  span.img-text
                    if item
                      img.img-sm.item(src=item.img, title=key)
                      div #{val}
                    else
                      =key
              td
                each val, key in player.killed || {}
                  - var hero = constants.hero_names[key]
                  span.img-text
                    if hero
                      img.img-sm(src=hero.img, title=hero.localized_name)
                      div #{val}
                    else
                      //=key

        .modal-footer
          br


append footer_assets
  scripts.
    //
      var graphData = !{JSON.stringify(match.graphData)};
      generateCharts(graphData);

    var data = !{JSON.stringify(match.incomeData)};
    c3.generate({
        bindto: "#chart-diff",
        data: {
            columns: data.goldDiff,
            onclick: function(d, element)
            {
               // lordstone: add in modal process logics
               $('#themodal')
               $('#themodal').modal();
            }
        }
    });

    c3.generate({
      bindto: "#chart-gold",
      data: {
        columns: data.gold
      }
    });

  //-
    <link href="public/css/c3.min.css" rel="stylesheet" type="text/css">
    <script src="public/js/c3.min.js"></script>

