extend layout

block head
    style.
        #nav ul{text-align:left;border-bottom:1px solid #ccc; list-style-type:none;padding:10px 10px;}
        #nav ul li{display:inline;}
        #nav ul li a{font-weight:bold;border:1px solid #ccc; text-decoration:none;padding:10px 20px;border-bottom:none;margin-right:5px;margin-bottom:1px;background-color:#eee}
        #nav ul li a.current{background-color:#fff;border-bottom:1px solid #fff;}
        #nav ul li a:hover{color:#000;background-color:#eee;}

        lis{
            float:left;
            list-style:none;
            width:150px;
            height:30px;
            background:#eee;
            text-align:center;
            font-size:1em;
            color:#2780e3;
            vertical-align:middle;
            line-height:30px;
            margin-left:10px;
        }

        lis a{font-weight:bold;border:1px solid #ccc; text-decoration:none;background-color:#eee}

        lis.active a{color:#000;background-color:#eee;}

        lis a.current{background-color:#fff;border-bottom:1px solid #fff;}

        .same_line{
            float:left;
            margin-left:20px;
            margin-top:auto;
            margin-bottom:auto;
        }

        .row{
            margin-top:40px;
        }

    script.

        var hero_id_cnt = "#{hero_id}";
        var st_cnt = "#{st}";
        var ed_cnt = "#{ed}";

        function selectHero(value)
        {
            var start_time = $('#sin_start_time').val();
            var end_time = $('#sin_end_time').val();

            var st = new Date(start_time).getTime() / 1000;
            var ed = new Date(end_time).getTime() / 1000;

            window.location.href = '/hero_analysis/'+value+'?st='+st+'&ed='+ed;
        }

        function selectHeroData()
        {
            var start_time = $('#sin_start_time').val();
            var end_time = $('#sin_end_time').val();
            var hero_id = $('#hero_select').val();

            var st = new Date(start_time).getTime() / 1000;
            var ed = new Date(end_time).getTime() / 1000;

            window.location.href='/hero_analysis/'+hero_id+'?st='+st+'&ed='+ed;
        }

        function showPage() {
            $('#hero_data').DataTable({
                info: false,
                paging: true,
                pageLength: 20,
                lengthChange: true,
                searching: false,
                responsive: true,
                'bAutoWidth': false,
                'scrollX': true
            });
        }

block content
    div#nav
      ul
        li 
          a(href='/team_fetch_match') 战队分析
        li 
          a(href='/players_ranking') 选手分析

    .row
        ul
          lis
            a(href='/players_ranking') 综合分析
          lis
            a(href='/single_player') 单独分析
          lis.active
            a(href='#')  英雄分析

    #single_player
        .row
            h4.same_line 选择英雄
            select(onchange='selectHero(value)')#hero_select.same_line
                option(value='0',selected='true') Select a Hero
                - for (var key in constants.heroes)
                  option(value=constants.heroes[key].id) #{constants.heroes[key].name.substr(14)}
        .row
            h4.same_line 时间筛选
            input(type='date', value='2016-04-21', onchange='selectHeroData()')#sin_start_time.same_line
            h4.same_line to
            input(type='date', onchange='selectHeroData()')#sin_end_time.same_line
        .row
            .col-md-12.table-responsive
                table.table.table-striped.table-condensed.rankable#hero_data
                    thead
                        tr
                            th 选手
                            th 场次
                            th 胜率 %
                            th 输出
                            th 消耗
                            th 回复
                            th 控制
                            th 参团率 %
                            th 抓人
                            th 落单被抓
                            th CNE
                            th URGPM
                            th RGPM
                            th 买眼
                            th 反眼
                            th Matches
                            //th 控符
                            //th APM
                    tbody
                        each entry, i in hero_data || []
                            tr
                                td #{entry.player_name}
                                td #{entry.num_played}
                                td #{Math.round(100*entry.win_times/entry.num_played)}
                                td #{Math.round(entry.av_create_total_damage)}
                                td #{Math.round(entry.av_consumedamage)}
                                td #{Math.round(entry.av_healing)}
                                td #{Math.round(entry.av_create_deadly_stiff_control)}
                                td #{Math.round(entry.tf_ratio)}
                                - var av_alonekillednum2 = entry.av_alonekillednum;
                                td #{Number(av_alonekillednum2).toFixed(1)}
                                - var av_alonebecatchednum2 = entry.av_alonebecatchednum;
                                td #{Number(av_alonebecatchednum2).toFixed(1)}
                                td #{Math.round(entry.av_killherogold - entry.av_fedenemygold)}
                                td #{Math.round(entry.av_unrrpm)}
                                td #{Math.round(entry.av_rgpm)}
                                - var av_vision_bought2 = entry.av_vision_bought;
                                td #{Number(av_vision_bought2).toFixed(1)}
                                - var av_vision_kill2 = entry.av_vision_kill;
                                td #{Number(av_vision_kill2).toFixed(1)}
                                td Coming Soon
                                //td #{Math.round(entry.av_runes)}
                                //td #{Math.round(entry.av_apm)}


    script.

        showPage();

        $(document).ready(function() {
            if (hero_id_cnt.length > 0)
                $('#hero_select').val(hero_id_cnt).selected = true;

            if (st_cnt.length > 0) {
                $('#sin_start_time').val(moment.unix(Number(st_cnt)).format("YYYY-MM-DD"));
            }

            if (ed_cnt.length > 0) {
               $('#sin_end_time').val(moment.unix(Number(ed_cnt)).format("YYYY-MM-DD"));
            }
        });

         document.getElementById('sin_end_time').valueAsDate = new Date();

