extend layout

block head

  style.
    #nav ul{text-align:left;border-bottom:1px solid #ccc; 
    list-style-type:none;padding:10px 10px;}
    #nav ul li{display:inline;}
    #nav ul li a{font-weight:bold;border:1px solid #ccc; text-decoration:none;padding:10px 20px;border-bottom:none;margin-right:5px;margin-bottom:1px;background-color:#eee}
    #nav ul li a.current{background-color:#fff;border-bottom:1px solid #fff;}
    #nav ul li a:hover{color:#000;background-color:#eee;}

    lis{
            float:left;
            list-style:none;
            width:250px;
            height:30px;
            background:#eee;
            text-align:center;
            font-size:1em;
            color:#2780e3;
            vertical-align:middle;
            line-height:30px;
            margin-left:10px;
        }

    lis a{font-weight:bold;border:1px solid #ccc; text-decoration:none;background-color:#eee}

    lis.active a{color:#000;background-color:#eee;}

      .same_line{
          float:left;
          margin-left:20px;
          margin-top:auto;
          margin-bottom:auto;
      }

     .row{
            margin-top:40px;
      }

  link(rel='stylesheet', href="/public/css/yasp_home.css")

if user
  block content
    div#nav
      ul
        li.active
          a(href='#') 战队分析
        li 
          a(href='/players_ranking') 选手分析
        li
          a(href='/hero_analysis')  英雄分析

    .row
        h4.same_line  选择战队
        select(onchange="window.location.href='/team_match_info/'+value")#team_select.same_line
            option(value='0',selected='true')  Select a Team 
            - for (var i = 0; i < constants.common_teams.length; ++i)
              option(value=constants.common_teams[i].team_id) #{constants.common_teams[i].name}

    .row
        h4.same_line 时间筛选
        input(type='date', value='2016-09-18', onchange='selectTeamDate()')#team_start_time.same_line
        h4.same_line to
        input(type='date', onchange='selectTeamDate()')#team_end_time.same_line

    .row
        ul
          lis.active
            a(href='#') 基本信息
          lis(onclick="toTeamFetchPage()")
            a(href='#') 近期比赛

    .row
      if team_match_info
        - var win_times = 0;
        - var radiant_win_times = 0;
        - var radiant_played_times = 0;
        - var win_duration = 0;
        - var lose_duration = 0;
        each val in team_match_info
          if val.radiant_win && team_id == val.radiant_team_id
            - radiant_win_times += 1;
          if team_id == val.radiant_team_id
            - radiant_played_times += 1;
          if val.radiant_win && team_id == val.radiant_team_id || !val.radiant_win && team_id == val.dire_team_id
            - win_times += 1;
            - win_duration += val.duration;
          else
            - lose_duration += val.duration;


        h4 比赛场数: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{team_match_info.length}场
        h4 膀胱偏好: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{win_times}场胜利平均时长#{moment().startOf('day').seconds(win_duration / win_times).format("m分ss秒")}；#{team_match_info.length - win_times}场失败平均时长#{ moment().startOf('day').seconds(lose_duration / (team_match_info.length - win_times)).format("m分ss秒")}
        h4 阵营偏好: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{radiant_played_times}场天辉, 胜率#{Math.round(100*radiant_win_times/radiant_played_times)}%; #{team_match_info.length - radiant_played_times}场夜魇, 胜率#{Math.round(100*(win_times - radiant_win_times) / (team_match_info.length - radiant_played_times))}%
        //h4 对线能力: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#{team_match_info.length}场
      else
          h3.same_line No Team Selected!

    if team_player_info
        table.table.table-striped.table-condensed.rankable#team_play_info
            thead
                th 选手
                th 占用资源
                th 致死输出
                th 致死控制
                th 战斗净收益
                th 推塔伤害
                th 回复量
            tbody
                each entry in team_player_info
                    tr
                        td #{entry.player_name}
                        td 
                            div
                                p win: #{Math.round(entry.win_unrrpm)}(#{Math.round(entry.win_unrrpm_rate * 100)}%)
                                p lose: #{Math.round(entry.lose_unrrpm)}(#{Math.round(entry.lose_unrrpm_rate * 100)}%)
                        td 
                            div
                                p win: #{Math.round(entry.win_deadly_damager)}(#{Math.round(entry.win_deadly_damager_rate * 100)}%)   
                                p lose: #{Math.round(entry.lose_deadly_damager)}(#{Math.round(entry.lose_deadly_damager_rate * 100)}%)
                        td 
                            div
                                p win: #{Math.round(entry.win_create_deadly_stiff_control)}(#{Math.round(entry.win_deadly_stiff_control_rate * 100)}%)
                                p lose: #{Math.round(entry.lose_create_deadly_stiff_control)}(#{Math.round(entry.lose_deadly_stiff_control_rate * 100)}%)
                        td 
                            div
                                p win: #{Math.round(entry.win_killherogold - entry.win_fedenemygold)}
                                p lose: #{Math.round(entry.lose_killherogold - entry.lose_fedenemygold)}
                        td 
                            div
                                p win: #{Math.round(entry.win_tower_damage)}
                                p lose: #{Math.round(entry.lose_tower_damage)}
                        td 
                            div
                                p win: #{Math.round(entry.win_hero_healing)}
                                p lose: #{Math.round(entry.lose_hero_healing)}



    
  append footer_assets
    script.
      var team_id_cnt = "#{team_id}";
      var st_cnt = "#{st}";
      var ed_cnt = "#{ed}";

      function toTeamFetchPage() {
        window.location.href='/team_fetch_match/'+team_id_cnt;
      }
      $(document).ready(function() {

        if (team_id_cnt.length > 0) {
            $('#team_select').val(team_id_cnt).selected = true;
        }

        if (st_cnt.length > 0) {
                $('#team_start_time').val(moment.unix(Number(st_cnt)).format("YYYY-MM-DD"));
        }

        if (ed_cnt.length > 0) {
            $('#team_end_time').val(moment.unix(Number(ed_cnt)).format("YYYY-MM-DD"));
        }
        
        document.getElementById('team_end_time').valueAsDate = new Date();
      });

      function selectTeamDate() {
          var start_time = $('#team_start_time').val();
          var end_time = $('#team_end_time').val();
          var team_id = $('#team_select').val();

          var st = new Date(start_time).getTime() / 1000;
          var ed = new Date(end_time).getTime() / 1000;

          window.location.href='/team_match_info/'+team_id+'?st='+st+'&ed='+ed;
      }
    


else
  p Please log out and retry

