extend layout

block head

  style.
    #nav ul{text-align:left;border-bottom:1px solid #ccc; 
    list-style-type:none;padding:10px 10px;}
    #nav ul li{display:inline;}
    #nav ul li a{font-weight:bold;border:1px solid #ccc; text-decoration:none;padding:10px 20px;border-bottom:none;margin-right:5px;margin-bottom:1px;background-color:#eee}
    #nav ul li a.current{background-color:#fff;border-bottom:1px solid #fff;}
    #nav ul li a:hover{color:#000;background-color:#eee;}

    lis{
            float:left;
            list-style:none;
            width:250px;
            height:30px;
            background:#eee;
            text-align:center;
            font-size:1em;
            color:#2780e3;
            vertical-align:middle;
            line-height:30px;
            margin-left:10px;
        }

    lis a{font-weight:bold;border:1px solid #ccc; text-decoration:none;background-color:#eee}

    lis.active a{color:#000;background-color:#eee;}

      .same_line{
          float:left;
          margin-left:20px;
          margin-top:auto;
          margin-bottom:auto;
      }

     .row{
            margin-top:40px;
      }

  link(rel='stylesheet', href="/public/css/yasp_home.css")

if user
  block content
    div#nav
      ul
        li.active
          a(href='#') 战队分析
        li 
          a(href='/players_ranking') 选手分析
        li
          a(href='/hero_analysis')  英雄分析

    .row
        h4.same_line  选择战队
        select(onchange="window.location.href='/team_match_info/'+value")#team_select.same_line
            option(value='0',selected='true')  Select a Team 
            - for (var i = 0; i < constants.common_teams.length; ++i)
              option(value=constants.common_teams[i].team_id) #{constants.common_teams[i].name}

    .row
        h4.same_line 时间筛选
        input(type='date', value='2016-09-18')#team_start_time.same_line
        h4.same_line to
        input(type='date')#team_end_time.same_line

    .row
        ul
          lis.active
            a(href='#') Basic Info
          lis(onclick="toTeamFetchPage()")
            a(href='#') 近期比赛

    .row
      if team_match_info
        - var win_times = 0;
        - var radiant_win_times = 0;
        - var radiant_played_times = 0;
        each val in team_match_info
          if val.radiant_win && team_id == val.radiant_team_id
            - radiant_win_times += 1;
          if team_id == val.radiant_team_id
            - radiant_played_times += 1;
          if val.radiant_win && team_id == val.radiant_team_id || !val.radiant_win && team_id == val.dire_team_id
            - win_times += 1;


        table.table.table-striped.table-condensed.rankable#team_match_info
          thead
            tr
              th Total Played Match
              th Victory
              th Lose
              th Radiant
              th Radiant Win Ratio %
              th Dire
              th Dire Win Ratio %
          tbody
            tr
              td= team_match_info.length
              td= win_times
              td= team_match_info.length - win_times
              td= radiant_played_times
              if radiant_played_times > 0
                td= Math.round(100*radiant_win_times/radiant_played_times)
              else
                td -
              td= team_match_info.length - radiant_played_times
              if team_match_info.length - radiant_played_times > 0
                td= Math.round(100*(win_times - radiant_win_times) / (team_match_info.length - radiant_played_times))
              else
                td -
      else
          h3.same_line No Team Selected!



    
  append footer_assets
    script.
      var team_id_cnt = "#{team_id}";
      function toTeamFetchPage() {
        window.location.href='/team_fetch_match/'+team_id_cnt;
      }
      $(document).ready(function() {

        if (team_id_cnt.length > 0) {
            $('#team_select').val(team_id_cnt).selected = true;
        }
        
        document.getElementById('team_end_time').valueAsDate = new Date();
      });
    


else
  p Please log out and retry

