extend layout

block head

  style.
    #nav ul{text-align:left;border-bottom:1px solid #ccc; 
    list-style-type:none;padding:10px 10px;}
    #nav ul li{display:inline;}
    #nav ul li a{font-weight:bold;border:1px solid #ccc; text-decoration:none;padding:10px 20px;border-bottom:none;margin-right:5px;margin-bottom:1px;background-color:#eee}
    #nav ul li a.current{background-color:#fff;border-bottom:1px solid #fff;}
    #nav ul li a:hover{color:#000;background-color:#eee;}

    lis{
            float:left;
            list-style:none;
            width:250px;
            height:30px;
            background:#eee;
            text-align:center;
            font-size:1em;
            color:#2780e3;
            vertical-align:middle;
            line-height:30px;
            margin-left:10px;
        }

    lis a{font-weight:bold;border:1px solid #ccc; text-decoration:none;background-color:#eee}

    lis.active a{color:#000;background-color:#eee;}

      .same_line{
          float:left;
          margin-left:20px;
          margin-top:auto;
          margin-bottom:auto;
      }

     .row{
            margin-top:40px;
      }

  link(rel='stylesheet', href="/public/css/yasp_home.css")



if user
  block content
    div#nav
      ul
        li.active
          a(href='#') 战队分析
        li 
          a(href='/players_ranking') 选手分析
        li
          a(href='/hero_analysis')  英雄分析

    .row
        - var teams = constants.common_teams;
        - teams.sort(function(ta, tb) {return ta.name.localeCompare(tb.name);});
        h4.same_line  选择战队
        select(onchange="window.location.href='/team_fetch_match/'+value")#team_select.same_line
            option(value='0',selected='true')  Select a Team 
            - for (var i = 0; i < teams.length; ++i)
              option(value=teams[i].team_id) #{teams[i].name}

    .row
        ul
          lis(onclick='toBasicInfo()')
            a(href='#') 基本信息
          lis.active
            a(href='#') 近期比赛


    .row
        .col-md-12.table-responsive
            table.table.table-striped.table-condensed.rankable#team_fetch_match
                thread
                    tr
                        th #
                        th Match ID
                        th League Name
                        th Time
                        th Radiant
                        th Dire
                        th Replay Status
                    tbody 
                       each entry, i in team_fetch_match || []
                            tr
                                td= i+1
                                td 
                                  a(href='/battle_reviews/' + entry.match_id) #{entry.match_id}
                                - var league_name = (entry.league_name && entry.league_name.length >= 11 && entry.league_id != -1) ? entry.league_name.substr(11) : 'Private Match'
                                td 
                                  a(href=''+entry.league_url) #{league_name}
                                - var duration = new Date().getTime() - new Date(entry.start_time*1000).getTime()
                                - var days = Math.floor(duration/(3600*24*1000)) 
                                if days < 1
                                  - var hour = Math.floor(duration/(3600*1000))
                                  td #{hour} hours ago
                                else if days > 0 && days < 31
                                  td #{days} days ago
                                else 
                                  td A month or months ago
                                if entry.radiant_win
                                  td(class="success")= entry.radiant_team ? entry.radiant_team : entry.radiant_team_id
                                  td(class="danger")= entry.dire_team ? entry.dire_team : entry.dire_team_id
                                else
                                  td(class="danger")= entry.radiant_team ? entry.radiant_team : entry.radiant_team_id
                                  //td(class="danger")= entry.radiant_team_id
                                  td(class="success")= entry.dire_team ? entry.dire_team : entry.dire_team_id
                                  //td(class="success")= entry.dire_team_id  
                                td= entry.is_fetched?'downloaded':'downloading'
  append footer_assets
    script.

      var team_id_cnt = "#{team_id}";
      function toBasicInfo() {
        window.location.href='/team_match_info/'+team_id_cnt;
      }
      $(document).ready(function() {

        if (team_id_cnt.length > 0) {
            $('#team_select').val(team_id_cnt).selected = true;
        }

        //document.getElementById('team_end_time').valueAsDate = new Date();
      });
    


else
  p Please log out and retry

