mixin picks_bans_table(picks_bans)

  mixin picks_bans_row(picks_bans, team_int)
    //.row
    each pick in picks_bans
      td(style="padding: 3px;")
        //p team: #{JSON.stringify(pick.team)}
        if pick.team === team_int
          - var hero_id = pick.hero_id
          - var is_pick = pick.is_pick
          - var hero = constants.heroes[hero_id]
          if hero
            span.img-text(class=pick.team ? "text-danger" : "text-success")
              img.img-sm(src=hero.img, title=hero.localized_name, style= (is_pick ? "" : "-webkit-filter: grayscale(100%); filter: grayscale(100%);"))
              div #{(is_pick ? "Pick" : "Ban")}
          else
            = hero_id

  //table
    //tbody
  tr
    +picks_bans_row(picks_bans, 2)
  tr
    +picks_bans_row(picks_bans, 3)
   
